.Container {
    width: 100%;
    max-width: 800px;
    margin-top: -200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.header {
    
    margin-top: -80px;
    margin-bottom: 100px;
}

.header button {
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #01b110;
    color: white;
    width: auto;
    height: 42px;
    margin-left: 10px;
}

.header button.active {
    background-color: #ff3026;
    color: #fff;
    border: none;
    text-shadow: none;
    font-weight: 500;
  }

.Container h1 {
    margin-bottom: 50px;
}

.formContainer {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 5px;
    width: max-content;
}

.formContainer form {
    display: flex;
    flex-direction: row;
}

.formContainer input {
    width: 120px;
    padding: 0 10px;
    border: 1px solid #bbb;
    border-radius: 5px;
    height: 40px;
    text-shadow: none;
    color: black;
}

.formContainer label {
    color: black;
    text-shadow: none;
    font-weight: 600;
    padding: 10px;
}

.formContainer button {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #01b110;
    color: white;
    height: 42px;
    margin-left: 10px;
}

.gridContainer table {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 5px;
    max-width: 1120px;
    margin: 20px auto;
    word-break: break-all;
}


.gridContainer th {
    text-align: start;
    border-bottom: inset;
    padding-bottom: 5px;
    width: 1000px;
    color: black;
    text-shadow: none;
}

.gridContainer td {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: start;
    width: auto;
    color: black;
    text-shadow: none;
}

.gridContainer td button {
    width: 80px;
}


.gridContainer button {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #01b110;
    color: white;
    height: 42px;

}

.gridContainer .textoMaior {
    width: 3000px;
}

.gridContainer .textoMenor {
    width: 2000px;
}

.gridContainer .button {
    width: 90px;
}

.buttonExit {
    width: 100px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #01b110;
    color: white;
    height: 42px;
}

